// =======main colors=======
$dark-aqua-green-color: #029491;
$base-black-color: #000000;
$base-white-color: #FFFFFF;

// =======additional colors=======
$dim-yellow-color: #FFB64F;
$light-aqua-green-color: #7CE3E1;
$blue-color: #5970FF;

// =======fonts=======
$main-font: "Inter", sans-serif;
$additional-font: "Rubik Mono One", monospace;

// =======fonts-colors=======
$main-font-color: $base-black-color;
$additional-font-color: $base-white-color;
