@import '../../globalStyles/variables.scss';

.limit-information-pannel{
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgba(217, 217, 217, 0.4);
  flex-grow: 1;
  min-height: 63px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;

  &__element{
    font-size: 10px;
    font-family: $main-font;
    color: $base-black-color;
    font-weight: 400;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    gap: 9px;
    .element__span{
      opacity: 0.4;
      width: 120px;
      display: flex;
      justify-content: end;
    }
    .element__used, .element__rest{
      font-size: 14px;
      font-weight: bold;
      flex-grow: 1;
    }
    .element__rest{
      color: #8AC540
    }
  }
}