@import "../../globalStyles/variables.scss";

.header-container {
  background-color: $base-white-color;
  width: 100%;
  position: relative;

  .header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    max-width: 1320px;
    margin: 0 auto;
    height: 93px;


    .header__logo {
      flex-grow: 2;
      flex-shrink: 1;
      min-width: 141px;
      .logo__image{
        &_active{
          opacity: 1;
        }
        &_inactive{
          opacity: 0;
        }
        &_filled{
          mix-blend-mode: multiply;
          position: absolute;
          z-index: 1;
          transition: opacity .5s;
        }
        &_unfilled{
          position: absolute;
          z-index: 2;
          transition: opacity .5s;
        }
      }
    }

    .header__mobile-menu {
      display: none;
      position: absolute;
      width: 100%;
      height: 100vh;
      left: 0;
      margin: 0;
      padding: 0;
      transform: translateX(100%);
      transition: transform 1s;
      background-color: $dark-aqua-green-color;
      display: flex;
      flex-flow: column nowrap;
      .mobile-menu__nav{
        ul {
          margin: 0;
          padding: 0;
          justify-items: center;
          display: flex;
          list-style: none;
        }
      }

      &__active {
        transform: translateX(0);
      }
    }

    .header__row {
      display: flex;
      flex-flow: row nowrap;
      flex-grow: 1;
      justify-content: space-between;
      align-items: center;
      flex-shrink: 2;

      .header__burger-btn {
        width: 30px;
        height: 25px;
        background-color: none;
        position: relative;
        padding: 0;
        margin: 0;
        border: 0;
        display: none;
        order: 1;
        margin-left: auto;
        z-index: 1;
        background-color: unset;

        span {
          transition: transform 1s;
          position: absolute;
          width: 100%;
          height: 5px;
          background-color: $dark-aqua-green-color;
          left: 0;

          &:nth-child(1) {
            bottom: 0;
          }

          &:nth-child(3) {
            top: 0;
          }

          &:nth-child(2) {
            top: 10px;
          }
        }

        &_active {
          background-color: unset;
          span {
            background-color: $base-white-color;

            &:nth-child(1) {
              transform: translateY(-10px) rotate(135deg);
            }

            &:nth-child(2) {
              transform: rotate(45deg);
            }

            &:nth-child(3) {
              visibility: hidden;
              //можно скрыть через transition color
            }
          }
        }
      }

      .header__nav {
        .nav__list {
          margin: 0;
          padding: 0;
          list-style: none;
          display: flex;
          gap: 3vw;

          li {
            a {
              text-decoration: none;
              font-size: 14px;
              font-family: $main-font;
              color: $base-black-color;
              font-weight: 400;
              cursor: pointer;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }

    .header__limit-information-pannel {
      max-width: 175px;
    }

  }


}

@media screen and (max-width: 800px) {
  .header-container {
    .header {
      .header__row {
        .header__account-control-pannel {
          display: none;
        }

        .header__nav {
          display: none;
        }

        .header__burger-btn {
          display: block;
        }
      }

      .header__mobile-menu {
        display: block;
      }
    }
  }

}